@import "../../../../styles/abstracts/colors";

.time {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  .time__1d,
  .time__3d,
  .time__1w,
  .time__1m,
  .time__6m,
  .time__1y,
  .time__max {
    width: fit-content;
    height: fit-content;

    padding: 0 0.5rem;
    margin: 0 1rem;

    p {
      font-weight: 100;
    }

    // If the tab is selected then we change its background
    &.selected {
      background-color: $primary-color;
      border-radius: 5px;
      p {
        color: white;
      }
    }
  }
}
